// Place all the styles related to the Doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dose{
  text-align: center;
}

.d_table{
  display:flex;
  flex-direction: column;
  width: 50%;
}

.card-product-s{


  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  padding:20px;
}
